#at-view {
    position:absolute;
    top: 0;
    left: 0;
    display: none;
    margin-top: 18px;
    background: white;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-width: 180px;
}
#at-view .cur {
    background: #3366FF;
    color: white;
    font-weight:bold;
}
#at-view ul {
    /* width: 100px; */
    list-style:none;
    padding:0;
    margin:auto;
}
#at-view ul li {
    padding: 0 14px;
    /* border-top: 1px solid #C8C8C8; */
}
#at-view span {
    font-size:13px;
    color: gray;
    padding: 0 5px;
}
