#at-view {
    position:absolute;
    top: 0;
    left: 0;
    display: none;
    margin-top: 18px;
    background: white;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-width: 120px;
}
#at-view span#title {
    font-size:13px;
    color: gray;
    padding: 3px 5px;
    cursor: default;
}

#at-view .cur {
    background: #3366FF;
    color: white;
}
#at-view .cur small {
    color: white;
}
#at-view ul {
    /* width: 100px; */
    list-style:none;
    padding:0;
    margin:auto;
}
#at-view ul li {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    font-weight: bold;    cursor: pointer;
    /* border-top: 1px solid #C8C8C8; */
}
#at-view small {
    font-size: smaller;
    color: #777;
    font-weight: normal;
}


