<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Jasmine Spec Runner</title>

    <% css.forEach(function(style){ %>
    <link rel="stylesheet" type="text/css" href="<%= style %>">
    <% }) %>
    <link rel="stylesheet" type="text/css" href="src/jquery.atwho.css">

    <script type="text/javascript" src="libs/jquery-loader.js"></script>
    <% scripts.forEach(function(script){ %>
    <script type="text/javascript" src="<%= script %>"></script>
    <% }) %>

    <% if (typeof specs !== 'undefined') { %>
        <script type="text/javascript">
        require([
        <% specs.forEach(function(script, i){ %>
            '<%= script %>' <% if (i !== specs.length-1){ %>,<% } %>
        <% }) %>
        ]);
        </script>
    <% } %>
</head>

<body>
</body>
</html>
