---
---

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Documentation - At.js</title>
    {% include stylesheet.html %}
    <style type="text/css">
    h1,h2,h3,h4 {
        font-family: 'PT Sans', sans-serif;
    }
    h4 {
        margin-top: 40px;
    }
    h1 {
        margin-bottom: 50px;
        font-size: 56px;
    }
    .is-sticky .subnav {
        box-shadow: 0px 2px 5px gray;
    }
    </style>
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">

    <div class="container" style="width:940px;">
        {% include fork_me.html %}
        <header id="overview">
            <h1><a href="index.html" style="color:black;">At.js</a> <small>Documentation <span class="label label-important">v0.2</span></small></h1>
            <div class="subnav">
                <ul class="nav nav-pills">
                    {% for post in site.posts %}
                        {%if forloop.first %}
                            <li class="active"><a href="#{{post.section_id}}">{{post.title}}</a></li>
                        {% else %}
                            <li><a href="#{{post.section_id}}">{{post.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </header>

        {{ content }}
    </div>

    {% include footer.html %}

    {% include javascript.html %}
    <script type="text/javascript" src="assets/js/jquery.sticky.js"></script>
    <script type="text/javascript">
        $(".subnav").sticky({topSpacing: 5});
    </script>
</body>
</html>
